<html>
<head>
<link type="text/css" rel="stylesheet" href="static/css/main.css" />
<script type="text/javascript"
	src="static/dygraphs/dygraph-combined.js"></script>
</head>
<body>
	<h1>Precio Energia Día {{date}}</h1>
	<div id="graphdiv"></div>
	<script type="text/javascript">
  g = new Dygraph(
    // containing div
    document.getElementById("graphdiv"),
    {% autoescape off %}
    {{str_contenido}},
    {% endautoescape %}
    {
      labels: [ "Fecha", "Precio" ]
    }
  );
</script>
<p>
	{{str_contenido}}
</p>

</body>
</html>